noderedhomenodes
[{"id":"4c151734.260b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1234dd40.b3e343","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"4fb318aa.c2942","type":"tab","label":"Serverraum","disabled":false,"info":""},{"id":"5e9bddab.d4f4fc","type":"tab","label":"Büro","disabled":false,"info":""},{"id":"d286a7da.21e41","type":"tab","label":"Bad OG","disabled":false,"info":""},{"id":"21827831.345f8","type":"tab","label":"Hintereingang","disabled":false,"info":""},{"id":"577279cd.15ab7","type":"tab","label":"Gäste WC","disabled":false,"info":""},{"id":"883953b.4defeb","type":"tab","label":"Garderobe","disabled":false,"info":""},{"id":"6f90e444.c1442c","type":"tab","label":"Flur","disabled":false,"info":""},{"id":"b75475c7.dfdd38","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"418d7464.e2c014","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e817b5f3.1781b8","type":"tab","label":"Wohnzimmer","disabled":false,"info":""},{"id":"93e89be1.f915f","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":700,"y":40,"wires":[{"id":"644edd3b.b30a2c","port":0},{"id":"3b310c8.f9c22f4","port":0}]}]},{"id":"d7d47543.167338","type":"knx-controller","z":"","name":"","host":"192.168.1.144","port":"3671","mode":"tunnel/unicast"},{"id":"5a71367.a368e48","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"dca413ca.8d3ef8","type":"ui_group","z":"","name":"Licht","tab":"abba03de.30c088","disp":true,"width":"6","collapse":true},{"id":"e449cdf5.79e22","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#282828","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#282828","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#4e4e4e","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#282828","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"370d971e.6215c","type":"ui_tab","z":"","name":"Bad OG","icon":"dashboard"},{"id":"2e2671d4.9ba24e","type":"jvmg_trigger","z":"","trigger":"Trigg"},{"id":"c3e84e34.ccf25","type":"jvmg_trigger","z":"","trigger":"Hintereingang"},{"id":"abba03de.30c088","type":"ui_tab","z":"","name":"Bad OG","icon":"dashboard"},{"id":"7e6a9ee4.b29128","type":"ui_tab","z":"","name":"Hintereingang","icon":"dashboard"},{"id":"e21012a1.cc523","type":"ui_group","z":"","name":"Licht","tab":"7e6a9ee4.b29128","disp":true,"width":"6","collapse":true},{"id":"16b14575.1b6843","type":"ui_tab","z":"","name":"Gäste WC","icon":"dashboard"},{"id":"87042c31.a92e08","type":"ui_group","z":"","name":"Licht","tab":"16b14575.1b6843","disp":true,"width":"6","collapse":false},{"id":"ad67800a.73961","type":"jvmg_trigger","z":"","trigger":"Gäste WC"},{"id":"88151d2e.360da","type":"ui_tab","z":"","name":"Serverschrank","icon":"dashboard"},{"id":"ce73cf20.bfd928","type":"ui_group","z":"","name":"Licht","tab":"88151d2e.360da","disp":true,"width":"6","collapse":false},{"id":"bd7caa45.b3b208","type":"jvmg_trigger","z":"","trigger":"Serverschrank"},{"id":"7e188ee2.68e4f","type":"ui_tab","z":"","name":"Garderobe","icon":"dashboard"},{"id":"e6f463b9.4b35f","type":"ui_group","z":"","name":"Licht","tab":"7e188ee2.68e4f","disp":true,"width":"6","collapse":false},{"id":"18ce0fd8.655a5","type":"jvmg_trigger","z":"","trigger":"Key Garderobe"},{"id":"1ab864da.5d07eb","type":"ui_tab","z":"","name":"Flur","icon":"dashboard"},{"id":"f44bd38d.cd1ba8","type":"ui_group","z":"","name":"Licht","tab":"1ab864da.5d07eb","disp":true,"width":"6","collapse":false},{"id":"6b353c6d.d726b4","type":"jvmg_trigger","z":"","trigger":"flurunten"},{"id":"38bff8f3.33ca58","type":"ui_group","z":"","name":"Beschattung","tab":"abba03de.30c088","disp":true,"width":"6","collapse":true},{"id":"15b1801b.2748b","type":"ui_tab","z":"","name":"Alexa Speak","icon":"speaker","order":1},{"id":"348eb6c.70a57ca","type":"ui_tab","z":"","name":"Alexa Speak","icon":"speaker","order":2},{"id":"11afd71c.470559","type":"loxone-miniserver","z":"","host":"192.168.1.128","port":"80","enctype":"0","active":true},{"id":"e7b24883.4695e","type":"fritzbox-config","z":"","name":"FritzBox","host":"192.168.1.1","port":"49000","ssl":false},{"id":"60980ce8.9190cc","type":"fritzbox-config","z":"","name":"","host":"192.168.80.1","port":"49000","ssl":false},{"id":"58f523be.e8a99c","type":"fritzbox-config","z":"","name":"","host":"192.168.80.1","port":"49000","ssl":false},{"id":"30d3a282.f9ae9e","type":"mqtt-broker","z":"","name":"localbroker","broker":"192.168.1.162","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"555ff146.e89e7","type":"blynk-ws-client","z":"","name":"","path":"wss://blynk-cloud.com/websockets","key":"H_r6twRCehZhowH5p1aF0d7IDvqVqL7u","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"2a03a62c.2d55ca","type":"TinkerForgeConfig","z":"","host":"192.168.1.133","port":"4223","name":"GarageBrick"},{"id":"337b71e3.04ab26","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.1.100","key":"4U2sWSPyk8RhIaOslzhtM14LG027232xB2Xcng8b","interval":"3000"},{"id":"becdfd0c.871aa","type":"blynk-ws-client","z":"","name":"","path":"wss://blynk-cloud.com/websockets","key":"H_r6twRCehZhowH5p1aF0d7IDvqVqL7u","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"bd51ae3b.29fc1","type":"ui_tab","z":"","name":"Hues","icon":"dashboard","disabled":false,"hidden":false},{"id":"98c91c24.adf84","type":"ui_group","z":"","name":"Default","tab":"bd51ae3b.29fc1","disp":true,"width":"6","collapse":false},{"id":"6224a0cc.4ff1b8","type":"datacake-configuration","z":"","apiKey":"d7014c0d7d183eb6ab8a600f393cdf3a72734b12","workspaceId":"a0e8f434-024c-4139-bbdf-d17b207e127f","workspaceName":"ACME Corporation"},{"id":"8362be09.9ad0e8","type":"knx-out","z":"5e9bddab.d4f4fc","name":"","controller":"d7d47543.167338","x":1120,"y":340,"wires":[]},{"id":"a53664da.d1266","type":"function","z":"5e9bddab.d4f4fc","name":"","func":"if (msg.payload[\"On\"] === true) {\n    msg.payload = {\"dstgad\":\"1/1/2\", \"value\":\"1\", \"dpt\":\"1\"};\n} else {\n    msg.payload = {\"dstgad\":\"1/1/2\", \"value\":\"0\", \"dpt\":\"1\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["8362be09.9ad0e8","dd42cb1d.3530a"]]},{"id":"251e3b7d.e7314c","type":"inject","z":"5e9bddab.d4f4fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":320,"wires":[["a53664da.d1266"]]},{"id":"dd42cb1d.3530a","type":"debug","z":"5e9bddab.d4f4fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":600,"wires":[]},{"id":"d4e3e593.cc3b8","type":"switch","z":"4fb318aa.c2942","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":600,"wires":[["1dfde0dc.07160f"]]},{"id":"23c3e4f0.53f2fc","type":"switch","z":"d286a7da.21e41","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":440,"wires":[["85f3d69d.0ceda","ceda9377.bafc7"]]},{"id":"3231659c.243d1a","type":"knx-out","z":"d286a7da.21e41","name":"","controller":"d7d47543.167338","x":1710,"y":500,"wires":[]},{"id":"85f3d69d.0ceda","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"2/6/2\", \"value\":\"1\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":500,"wires":[["3231659c.243d1a"]]},{"id":"948372bc.95653","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"2/6/2\", \"value\":\"0\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":400,"wires":[["3231659c.243d1a"]]},{"id":"ceda9377.bafc7","type":"stoptimer","z":"d286a7da.21e41","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1160,"y":440,"wires":[["2719329e.2bfe86"],[]]},{"id":"8967de2f.eb74f","type":"switch","z":"d286a7da.21e41","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":400,"wires":[["948372bc.95653"]]},{"id":"efabe539.a8e738","type":"ui_button","z":"d286a7da.21e41","name":"Einschalten","group":"dca413ca.8d3ef8","order":3,"width":"6","height":"2","passthru":true,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":710,"y":400,"wires":[["23c3e4f0.53f2fc"]]},{"id":"8f6ee528.ef215","type":"ui_button","z":"d286a7da.21e41","name":"Ausschalten","group":"dca413ca.8d3ef8","order":4,"width":"6","height":"2","passthru":true,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":710,"y":360,"wires":[["8967de2f.eb74f"]]},{"id":"f72f84cf.dd5438","type":"ui_switch","z":"d286a7da.21e41","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"dca413ca.8d3ef8","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":500,"wires":[["42c5c4e5.a5f564","3e352f0d.25fe68"]]},{"id":"2719329e.2bfe86","type":"jvmg_gate","z":"d286a7da.21e41","name":"Gate","default":true,"trigger":"2e2671d4.9ba24e","x":1330,"y":440,"wires":[["948372bc.95653"]]},{"id":"42c5c4e5.a5f564","type":"jvmg_key","z":"d286a7da.21e41","name":"","trigger":"2e2671d4.9ba24e","x":1140,"y":540,"wires":[]},{"id":"3e352f0d.25fe68","type":"switch","z":"d286a7da.21e41","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":480,"wires":[["ceda9377.bafc7"]]},{"id":"c962a71.1de4058","type":"switch","z":"21827831.345f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":440,"wires":[["dab85f2.27e89a","62455bb9.3c3b44"]]},{"id":"21e27de1.42ed72","type":"knx-out","z":"21827831.345f8","name":"","controller":"d7d47543.167338","x":1430,"y":480,"wires":[]},{"id":"dab85f2.27e89a","type":"change","z":"21827831.345f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/3/0\", \"value\":\"1\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["21e27de1.42ed72"]]},{"id":"78e3fa63.903b9c","type":"change","z":"21827831.345f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/3/0\", \"value\":\"0\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":400,"wires":[["21e27de1.42ed72"]]},{"id":"62455bb9.3c3b44","type":"stoptimer","z":"21827831.345f8","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":920,"y":440,"wires":[["ce6176fd.0a5d9"],[]]},{"id":"4f01a767.9245e","type":"switch","z":"21827831.345f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":400,"wires":[["78e3fa63.903b9c"]]},{"id":"edcb7a04.12d2c8","type":"ui_button","z":"21827831.345f8","name":"Einschalten","group":"e21012a1.cc523","order":3,"width":"6","height":"2","passthru":false,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":470,"y":360,"wires":[["c962a71.1de4058"]]},{"id":"745cb993.c1281","type":"ui_button","z":"21827831.345f8","name":"Ausschalten","group":"e21012a1.cc523","order":4,"width":"6","height":"2","passthru":false,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":470,"y":320,"wires":[["4f01a767.9245e"]]},{"id":"88457bc9.59e06","type":"ui_switch","z":"21827831.345f8","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"e21012a1.cc523","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":480,"wires":[["2102ed05.739a12","d3320c97.bb2e48"]]},{"id":"ce6176fd.0a5d9","type":"jvmg_gate","z":"21827831.345f8","name":"Gate","default":true,"trigger":"c3e84e34.ccf25","x":1090,"y":440,"wires":[["78e3fa63.903b9c"]]},{"id":"2102ed05.739a12","type":"jvmg_key","z":"21827831.345f8","name":"Key Hintereingang","trigger":"c3e84e34.ccf25","x":790,"y":520,"wires":[]},{"id":"d3320c97.bb2e48","type":"switch","z":"21827831.345f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":480,"wires":[["62455bb9.3c3b44"]]},{"id":"7710407.b11e8c","type":"switch","z":"577279cd.15ab7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":460,"wires":[["812fafc3.d18ee8","3861e434.cdc924"]]},{"id":"c2eb1989.675208","type":"knx-out","z":"577279cd.15ab7","name":"","controller":"d7d47543.167338","x":1450,"y":500,"wires":[]},{"id":"812fafc3.d18ee8","type":"change","z":"577279cd.15ab7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/5/0\", \"value\":\"1\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["c2eb1989.675208"]]},{"id":"49ed43c4.af2884","type":"change","z":"577279cd.15ab7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/5/0\", \"value\":\"0\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":420,"wires":[["c2eb1989.675208"]]},{"id":"3861e434.cdc924","type":"stoptimer","z":"577279cd.15ab7","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":940,"y":460,"wires":[["eef9b729.adb51"],[]]},{"id":"40ca730d.f4d39c","type":"switch","z":"577279cd.15ab7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":420,"wires":[["49ed43c4.af2884"]]},{"id":"c0e4947e.9f9ab","type":"ui_button","z":"577279cd.15ab7","name":"Einschalten","group":"87042c31.a92e08","order":3,"width":"6","height":"2","passthru":false,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":490,"y":380,"wires":[["7710407.b11e8c"]]},{"id":"fae4819f.069678","type":"ui_button","z":"577279cd.15ab7","name":"Ausschalten","group":"87042c31.a92e08","order":4,"width":"6","height":"2","passthru":false,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":490,"y":340,"wires":[["40ca730d.f4d39c"]]},{"id":"5b673ad8.80c11c","type":"ui_switch","z":"577279cd.15ab7","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"87042c31.a92e08","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":500,"wires":[["7adeabd.fca96d4","f0b9fa0.4404008"]]},{"id":"eef9b729.adb51","type":"jvmg_gate","z":"577279cd.15ab7","name":"Gate","default":true,"trigger":"ad67800a.73961","x":1110,"y":460,"wires":[["49ed43c4.af2884"]]},{"id":"7adeabd.fca96d4","type":"jvmg_key","z":"577279cd.15ab7","name":"Key Gäste WC","trigger":"ad67800a.73961","x":800,"y":540,"wires":[]},{"id":"f0b9fa0.4404008","type":"switch","z":"577279cd.15ab7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":500,"wires":[["3861e434.cdc924"]]},{"id":"e58afecc.179d08","type":"knx-in","z":"577279cd.15ab7","name":"","controller":"d7d47543.167338","x":110,"y":420,"wires":[["5cab299.1aa2858"]]},{"id":"5cab299.1aa2858","type":"switch","z":"577279cd.15ab7","name":"","property":"payload.dstgad","propertyType":"msg","rules":[{"t":"eq","v":"1/5/0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":420,"wires":[["c613a6c4.1175"]]},{"id":"c613a6c4.1175","type":"switch","z":"577279cd.15ab7","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":420,"wires":[["fd6c75c2.e6cfd8"],[]]},{"id":"fd6c75c2.e6cfd8","type":"change","z":"577279cd.15ab7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":420,"wires":[["7710407.b11e8c"]]},{"id":"1face6fa.831171","type":"knx-in","z":"21827831.345f8","name":"","controller":"d7d47543.167338","x":90,"y":400,"wires":[["490020fe.e04a8"]]},{"id":"490020fe.e04a8","type":"switch","z":"21827831.345f8","name":"","property":"payload.dstgad","propertyType":"msg","rules":[{"t":"eq","v":"1/3/0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":400,"wires":[["b665962d.2aa228"]]},{"id":"b665962d.2aa228","type":"switch","z":"21827831.345f8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":400,"wires":[["fe7c390e.f7b5d8"],[]]},{"id":"fe7c390e.f7b5d8","type":"change","z":"21827831.345f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["c962a71.1de4058"]]},{"id":"1dfde0dc.07160f","type":"change","z":"4fb318aa.c2942","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["758d7d05.dfd2c4"]]},{"id":"758d7d05.dfd2c4","type":"switch","z":"4fb318aa.c2942","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":600,"wires":[["239171ae.82c73e","6c7b1a3b.33cf8c"]]},{"id":"239171ae.82c73e","type":"change","z":"4fb318aa.c2942","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"150,150,150","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":640,"wires":[[]]},{"id":"45bc221b.8f0bac","type":"change","z":"4fb318aa.c2942","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"30,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":560,"wires":[[]]},{"id":"6c7b1a3b.33cf8c","type":"stoptimer","z":"4fb318aa.c2942","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":910,"y":600,"wires":[["ddeb2186.2759b8"],[]]},{"id":"7266cae7.b32f34","type":"switch","z":"4fb318aa.c2942","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":560,"wires":[["45bc221b.8f0bac"]]},{"id":"e42e225f.76abe","type":"ui_button","z":"4fb318aa.c2942","name":"Einschalten","group":"ce73cf20.bfd928","order":3,"width":"6","height":"2","passthru":false,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":570,"y":560,"wires":[["758d7d05.dfd2c4"]]},{"id":"73f9a463.9576dc","type":"ui_button","z":"4fb318aa.c2942","name":"Ausschalten","group":"ce73cf20.bfd928","order":4,"width":"6","height":"2","passthru":false,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":570,"y":520,"wires":[["7266cae7.b32f34"]]},{"id":"5f25b921.1552b","type":"ui_switch","z":"4fb318aa.c2942","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"ce73cf20.bfd928","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":640,"wires":[["154c7b5d.f37db5","fcae5722.51ebd8"]]},{"id":"ddeb2186.2759b8","type":"jvmg_gate","z":"4fb318aa.c2942","name":"Gate","default":true,"trigger":"bd7caa45.b3b208","x":1070,"y":600,"wires":[["45bc221b.8f0bac"]]},{"id":"154c7b5d.f37db5","type":"jvmg_key","z":"4fb318aa.c2942","name":"Key Serverschrank","trigger":"bd7caa45.b3b208","x":770,"y":680,"wires":[]},{"id":"fcae5722.51ebd8","type":"switch","z":"4fb318aa.c2942","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":640,"wires":[["6c7b1a3b.33cf8c"]]},{"id":"b89eb1f8.91ae9","type":"debug","z":"1234dd40.b3e343","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":260,"wires":[]},{"id":"1ba8143c.4e4084","type":"knx-in","z":"1234dd40.b3e343","name":"","controller":"d7d47543.167338","x":120,"y":260,"wires":[["b89eb1f8.91ae9","912574bb.aceb6"]]},{"id":"6bca17fa.f0fb68","type":"switch","z":"883953b.4defeb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":460,"wires":[["69450e.ebb19af4","2df1ce9f.25bb9a"]]},{"id":"68960fd9.250d28","type":"knx-out","z":"883953b.4defeb","name":"","controller":"d7d47543.167338","x":1450,"y":500,"wires":[]},{"id":"69450e.ebb19af4","type":"change","z":"883953b.4defeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/0/1\", \"value\":\"1\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["68960fd9.250d28"]]},{"id":"ac7bcc01.18a61","type":"change","z":"883953b.4defeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/0/1\", \"value\":\"0\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":420,"wires":[["68960fd9.250d28"]]},{"id":"2df1ce9f.25bb9a","type":"stoptimer","z":"883953b.4defeb","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":940,"y":460,"wires":[["bec83a04.3a3478"],[]]},{"id":"86fefac7.9f9be","type":"switch","z":"883953b.4defeb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":420,"wires":[["ac7bcc01.18a61"]]},{"id":"a05f1bb.7e021e8","type":"ui_button","z":"883953b.4defeb","name":"Einschalten","group":"e6f463b9.4b35f","order":3,"width":"6","height":"2","passthru":false,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":490,"y":380,"wires":[["6bca17fa.f0fb68"]]},{"id":"e85f0f30.3d0e3","type":"ui_button","z":"883953b.4defeb","name":"Ausschalten","group":"e6f463b9.4b35f","order":4,"width":"6","height":"2","passthru":false,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":490,"y":340,"wires":[["86fefac7.9f9be"]]},{"id":"bd35f3.a1faba1","type":"ui_switch","z":"883953b.4defeb","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"e6f463b9.4b35f","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":500,"wires":[["c5f3e2a1.db559","14cda8f8.f6ac07"]]},{"id":"bec83a04.3a3478","type":"jvmg_gate","z":"883953b.4defeb","name":"Gate","default":true,"trigger":"18ce0fd8.655a5","x":1110,"y":460,"wires":[["ac7bcc01.18a61"]]},{"id":"c5f3e2a1.db559","type":"jvmg_key","z":"883953b.4defeb","name":"Key Garderobe","trigger":"18ce0fd8.655a5","x":800,"y":540,"wires":[]},{"id":"14cda8f8.f6ac07","type":"switch","z":"883953b.4defeb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":500,"wires":[["2df1ce9f.25bb9a"]]},{"id":"8da7b2b4.66b22","type":"knx-in","z":"883953b.4defeb","name":"","controller":"d7d47543.167338","x":110,"y":420,"wires":[["42af3246.ba7504"]]},{"id":"42af3246.ba7504","type":"switch","z":"883953b.4defeb","name":"","property":"payload.dstgad","propertyType":"msg","rules":[{"t":"eq","v":"1/0/1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":420,"wires":[["5dda8c79.0841cc"]]},{"id":"5dda8c79.0841cc","type":"switch","z":"883953b.4defeb","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":420,"wires":[["36b249ee.79dc4e"],[]]},{"id":"36b249ee.79dc4e","type":"change","z":"883953b.4defeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":420,"wires":[["6bca17fa.f0fb68"]]},{"id":"1cf5a5f2.693142","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":460,"wires":[["19c0b570.f916eb","db3f5419.e892f"]]},{"id":"2d26996c.6e365e","type":"knx-out","z":"6f90e444.c1442c","name":"","controller":"d7d47543.167338","x":1810,"y":500,"wires":[]},{"id":"19c0b570.f916eb","type":"change","z":"6f90e444.c1442c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/0/0\", \"value\":\"1\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":500,"wires":[["2d26996c.6e365e"]]},{"id":"a33415be.071e18","type":"change","z":"6f90e444.c1442c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"1/0/0\", \"value\":\"0\", \"dpt\":\"1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":420,"wires":[["2d26996c.6e365e","9ca17208.ba242"]]},{"id":"db3f5419.e892f","type":"stoptimer","z":"6f90e444.c1442c","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1300,"y":460,"wires":[["2e497e33.3bbe6a"],[]]},{"id":"b145ea9b.97f8b","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":420,"wires":[["a33415be.071e18"]]},{"id":"ecf94371.8b8ff8","type":"ui_button","z":"6f90e444.c1442c","name":"Einschalten","group":"f44bd38d.cd1ba8","order":3,"width":"6","height":"2","passthru":true,"label":"Einschalten","tooltip":"","color":"white","bgcolor":"#00ff00","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":420,"wires":[["1cf5a5f2.693142"]]},{"id":"6f5f28fc.b5ae7","type":"ui_button","z":"6f90e444.c1442c","name":"Ausschalten","group":"f44bd38d.cd1ba8","order":4,"width":"6","height":"2","passthru":true,"label":"Ausschalten","tooltip":"","color":"","bgcolor":"#cc0000","icon":"","payload":"0","payloadType":"num","topic":"","x":970,"y":380,"wires":[["b145ea9b.97f8b"]]},{"id":"1a17a486.034b93","type":"ui_switch","z":"6f90e444.c1442c","name":"Bewegungsmelder","label":"Bewegungsmelder","tooltip":"","group":"f44bd38d.cd1ba8","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":950,"y":500,"wires":[["b1d6000a.5690c","eb29ecc6.7b008"]]},{"id":"2e497e33.3bbe6a","type":"jvmg_gate","z":"6f90e444.c1442c","name":"Gate","default":true,"trigger":"6b353c6d.d726b4","x":1470,"y":460,"wires":[["a33415be.071e18"]]},{"id":"b1d6000a.5690c","type":"jvmg_key","z":"6f90e444.c1442c","name":"Key Flur Unten","trigger":"6b353c6d.d726b4","x":1160,"y":540,"wires":[]},{"id":"eb29ecc6.7b008","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":500,"wires":[["db3f5419.e892f"]]},{"id":"34fd074e.bdad6","type":"knx-in","z":"6f90e444.c1442c","name":"","controller":"d7d47543.167338","x":510,"y":460,"wires":[["c4ab47b1.360fe"]]},{"id":"c4ab47b1.360fe","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload.dstgad","propertyType":"msg","rules":[{"t":"eq","v":"1/0/0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":460,"wires":[["4ec13be5.2a48c4"]]},{"id":"4ec13be5.2a48c4","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":460,"wires":[["f296d290.7f1a1","210d6a86.05e38e"],["9ca17208.ba242"]]},{"id":"f296d290.7f1a1","type":"change","z":"6f90e444.c1442c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":460,"wires":[["1cf5a5f2.693142"]]},{"id":"e39469d.2001b98","type":"switch","z":"6f90e444.c1442c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":400,"wires":[["a998386.c96c348"],["6da4686c.a78a58"]]},{"id":"a998386.c96c348","type":"change","z":"6f90e444.c1442c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["6f5f28fc.b5ae7"]]},{"id":"6da4686c.a78a58","type":"change","z":"6f90e444.c1442c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":420,"wires":[["ecf94371.8b8ff8"]]},{"id":"210d6a86.05e38e","type":"change","z":"6f90e444.c1442c","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"On\":true,\"OutletInUse\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":600,"wires":[[]]},{"id":"9ca17208.ba242","type":"change","z":"6f90e444.c1442c","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"On\":false,\"OutletInUse\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[[]]},{"id":"e998b2d5.8852d8","type":"ui_button","z":"d286a7da.21e41","name":"Schließen","group":"38bff8f3.33ca58","order":3,"width":0,"height":0,"passthru":false,"label":"Schließen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"dstgad\":\"2/6/3\",\"dpt\":\"1\",\"value\":\"1\"}","payloadType":"str","topic":"","x":1420,"y":540,"wires":[["3231659c.243d1a"]]},{"id":"58cfa333.48d1ac","type":"ui_button","z":"d286a7da.21e41","name":"Schließen 0","group":"38bff8f3.33ca58","order":3,"width":0,"height":0,"passthru":false,"label":"Schließen 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"dstgad\":\"2/6/4\",\"dpt\":\"no_dpt\",\"value\":\"1\"}","payloadType":"str","topic":"","x":1430,"y":580,"wires":[["3231659c.243d1a"]]},{"id":"89dfafae.47ae68","type":"ui_button","z":"d286a7da.21e41","name":"Öffnen","group":"38bff8f3.33ca58","order":3,"width":0,"height":0,"passthru":false,"label":"Öffnen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"dstgad\":\"2/6/3\",\"dpt\":\"no_dpt\",\"value\":\"0\"}","payloadType":"str","topic":"","x":1410,"y":620,"wires":[["3231659c.243d1a"]]},{"id":"746ecdde.f47244","type":"ui_button","z":"d286a7da.21e41","name":"Öffnen 0","group":"38bff8f3.33ca58","order":3,"width":0,"height":0,"passthru":false,"label":"Öffnen 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"dstgad\":\"2/6/4\",\"dpt\":\"no_dpt\",\"value\":\"0\"}","payloadType":"str","topic":"","x":1420,"y":660,"wires":[["3231659c.243d1a"]]},{"id":"e8f55893.569c9","type":"ui_button","z":"d286a7da.21e41","name":"Schritt Öffnen","group":"38bff8f3.33ca58","order":4,"width":0,"height":0,"passthru":false,"label":"Schritt Öffnen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1220,"y":700,"wires":[["913e07df.a239b"]]},{"id":"913e07df.a239b","type":"trigger","z":"d286a7da.21e41","op1":"{\"dstgad\":\"2/6/3\",\"dpt\":\"1\",\"value\":\"0\"}","op2":"{\"dstgad\":\"2/6/4\",\"dpt\":\"1\",\"value\":\"0\"}","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1400,"y":700,"wires":[["3231659c.243d1a"]]},{"id":"41561a21.941b3c","type":"ui_button","z":"d286a7da.21e41","name":"Schritt Schließen","group":"38bff8f3.33ca58","order":4,"width":0,"height":0,"passthru":false,"label":"Schritt Schließen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1210,"y":740,"wires":[["96523801.7c2088"]]},{"id":"96523801.7c2088","type":"trigger","z":"d286a7da.21e41","op1":"{\"dstgad\":\"2/6/3\",\"dpt\":\"1\",\"value\":\"1\"}","op2":"{\"dstgad\":\"2/6/4\",\"dpt\":\"1\",\"value\":\"1\"}","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1400,"y":740,"wires":[["3231659c.243d1a"]]},{"id":"20f2726c.77adce","type":"alexa-local","z":"6f90e444.c1442c","devicename":"Licht im Flur","inputtrigger":false,"x":450,"y":400,"wires":[["e39469d.2001b98"]]},{"id":"a26171e6.7e45f","type":"switch","z":"d286a7da.21e41","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":380,"wires":[["2038be54.dd04fa"],["659b41cd.ee1a38"]]},{"id":"2038be54.dd04fa","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":360,"wires":[["8f6ee528.ef215"]]},{"id":"659b41cd.ee1a38","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["efabe539.a8e738"]]},{"id":"26045ba2.25edf4","type":"alexa-local","z":"d286a7da.21e41","devicename":"Licht im Badezimmer","inputtrigger":false,"x":220,"y":380,"wires":[["a26171e6.7e45f"]]},{"id":"a7c06c6.8ee2f1","type":"switch","z":"d286a7da.21e41","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":500,"wires":[["fa646641.5269c"],["520fe8d2.d28e98"]]},{"id":"37e2d9f4.77efce","type":"alexa-local","z":"d286a7da.21e41","devicename":"Bewegungsmelder im Badezimmer","inputtrigger":false,"x":180,"y":500,"wires":[["a7c06c6.8ee2f1"]]},{"id":"fa646641.5269c","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[["f72f84cf.dd5438"]]},{"id":"520fe8d2.d28e98","type":"change","z":"d286a7da.21e41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["f72f84cf.dd5438"]]},{"id":"449f1697.7fb43","type":"loxone-control-in","z":"d286a7da.21e41","name":"","miniserver":"11afd71c.470559","control":"10e018b8-0348-16ae-ffff6f4bfad385ea","state":"10e018b8-0348-16ae-ffff6f4bfad385ea","x":720,"y":440,"wires":[["23c3e4f0.53f2fc"]]},{"id":"93ab3de1.86f7f8","type":"loxone-control-in","z":"21827831.345f8","name":"","miniserver":"11afd71c.470559","control":"10e8fc65-0171-1aa3-ffff6f4bfad385ea","state":"10e8fc65-0171-1aa3-ffff6f4bfad385ea","x":500,"y":440,"wires":[["c962a71.1de4058"]]},{"id":"ba77bd0b.570f28","type":"loxone-control-in","z":"883953b.4defeb","name":"","miniserver":"11afd71c.470559","control":"10e8fb17-0089-1b5d-ffff6f4bfad385ea","state":"10e8fb17-0089-1b5d-ffff6f4bfad385ea","x":520,"y":460,"wires":[["6bca17fa.f0fb68"]]},{"id":"9c687e28.b9921","type":"loxone-control-out","z":"6f90e444.c1442c","name":"","miniserver":"11afd71c.470559","control":"10da4585-02cb-509e-ffff6f4bfad385ea","x":1240,"y":840,"wires":[]},{"id":"3ea2e047.a859d8","type":"inject","z":"6f90e444.c1442c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":840,"wires":[["9c687e28.b9921"]]},{"id":"2f37d2ca.589666","type":"alexa-local","z":"6f90e444.c1442c","devicename":"Haustür","inputtrigger":false,"x":860,"y":780,"wires":[["9c687e28.b9921"]]},{"id":"84485588.aee38","type":"loxone-control-in","z":"6f90e444.c1442c","name":"","miniserver":"11afd71c.470559","control":"10da4585-02cb-509e-ffff6f4bfad385ea","state":"10da4585-02cb-509d-ffff27323bd74cc1","x":340,"y":980,"wires":[["fb8e9dd1.a35b5"]]},{"id":"fb8e9dd1.a35b5","type":"debug","z":"6f90e444.c1442c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":1000,"wires":[]},{"id":"11cd359.c8293ca","type":"fritzbox-callmonitor","z":"4c151734.260b4","device":"e7b24883.4695e","name":"","topic":"","x":440,"y":700,"wires":[["2bdd48c6.6897c8"]]},{"id":"2bdd48c6.6897c8","type":"fritzbox-contact","z":"4c151734.260b4","device":"e7b24883.4695e","name":"","topic":"","phonebook":"0","ccode":"DE","x":650,"y":700,"wires":[["22378964.c5ca7e"]]},{"id":"a6aa1082.d53bf8","type":"debug","z":"4c151734.260b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.caller_contacts[0].person.realName","x":1170,"y":700,"wires":[]},{"id":"22378964.c5ca7e","type":"switch","z":"4c151734.260b4","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"INBOUND","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":780,"wires":[["a6aa1082.d53bf8"]]},{"id":"499b9c7e.144fcc","type":"inject","z":"4c151734.260b4","name":"20:82:C0:26:86:FE","topic":"","payload":"{\"NewMACAddress\":\"D0:D2:B0:1E:4E:6F\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":410,"y":420,"wires":[["11854422.590524"]]},{"id":"11854422.590524","type":"fritzbox-in","z":"4c151734.260b4","device":"e7b24883.4695e","name":"","service":"urn:dslforum-org:service:Hosts:1","action":"GetSpecificHostEntry","arguments":"{\"NewMACAddress\":\"value\"}","x":590,"y":420,"wires":[["6557361c.a2f84"]]},{"id":"6557361c.a2f84","type":"debug","z":"4c151734.260b4","name":"","active":true,"console":"false","complete":"false","x":750,"y":420,"wires":[]},{"id":"3b310c8.f9c22f4","type":"mqtt in","z":"93e89be1.f915f","name":"","topic":"tinkerforge/callback/co2_bricklet/#","qos":"0","broker":"30d3a282.f9ae9e","x":220,"y":240,"wires":[[]]},{"id":"644edd3b.b30a2c","type":"mqtt in","z":"93e89be1.f915f","name":"","topic":"tinkerforge/response/co2_bricklet/#","qos":"0","broker":"30d3a282.f9ae9e","x":220,"y":180,"wires":[[]]},{"id":"757fdb9e.343c0c","type":"switch","z":"93e89be1.f915f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":340,"wires":[[]]},{"id":"26a4deec.443742","type":"mqtt in","z":"418d7464.e2c014","name":"","topic":"tinkerforge/+/+/+/+/STATUS","qos":"2","broker":"30d3a282.f9ae9e","x":180,"y":200,"wires":[["919d83a6.b66bb"]]},{"id":"919d83a6.b66bb","type":"debug","z":"418d7464.e2c014","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":200,"wires":[]},{"id":"48a2b5dd.c9e61c","type":"TinkerForge DualRelay","z":"b75475c7.dfdd38","device":"2a03a62c.2d55ca","sensor":"CXm","name":"","x":710,"y":380,"wires":[]},{"id":"53e3ba4b.a481f4","type":"switch","z":"b75475c7.dfdd38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":380,"wires":[["fa2a9dc6.80fa5"],["b711a5e8.ce4128"]]},{"id":"fa2a9dc6.80fa5","type":"change","z":"b75475c7.dfdd38","name":"[false,false]","rules":[{"t":"set","p":"payload","pt":"msg","to":"[false,false]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["48a2b5dd.c9e61c"]]},{"id":"b711a5e8.ce4128","type":"change","z":"b75475c7.dfdd38","name":"[true,true]","rules":[{"t":"set","p":"payload","pt":"msg","to":"[true,true]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":420,"wires":[["48a2b5dd.c9e61c"]]},{"id":"96ac11a6.a1eb8","type":"loxone-control-in","z":"b75475c7.dfdd38","name":"","miniserver":"11afd71c.470559","control":"0ef6d6d7-0189-1a8b-ffff6f4bfad385ea","state":"0ef6d6d7-0189-1a8b-ffff6f4bfad385ea","x":180,"y":380,"wires":[["53e3ba4b.a481f4"]]},{"id":"a35def48.623238","type":"hue-motion","z":"6f90e444.c1442c","name":"Hue motion sensor Flur","bridge":"337b71e3.04ab26","sensorid":"6","x":590,"y":300,"wires":[[]]},{"id":"ab80d913.7c28c8","type":"hue-light","z":"1234dd40.b3e343","name":"Ikea Stehlampe","bridge":"337b71e3.04ab26","lightid":"4","colornamer":true,"x":620,"y":500,"wires":[[]]},{"id":"1c3906ec.8ca689","type":"blynk-ws-in-write","z":"1234dd40.b3e343","name":"","pin":"10","pin_all":0,"client":"becdfd0c.871aa","x":240,"y":340,"wires":[["4b1dbfda.9dfc5"]]},{"id":"deccb84f.273b88","type":"blynk-ws-in-read","z":"1234dd40.b3e343","name":"","pin":"10","pin_all":0,"client":"555ff146.e89e7","x":240,"y":400,"wires":[["c32dabe2.687ad8"]]},{"id":"4b1dbfda.9dfc5","type":"debug","z":"1234dd40.b3e343","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":360,"wires":[]},{"id":"c32dabe2.687ad8","type":"debug","z":"1234dd40.b3e343","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":420,"wires":[]},{"id":"17a6c7b4.773c08","type":"hue-group","z":"e817b5f3.1781b8","name":"Wohnzimmer","bridge":"337b71e3.04ab26","groupid":"1","colornamer":true,"x":360,"y":240,"wires":[[]]},{"id":"b1d32573.5b50a8","type":"hue-scene","z":"e817b5f3.1781b8","name":"Nordlichter","bridge":"337b71e3.04ab26","sceneid":"BNpklWyIXOUg996","x":200,"y":180,"wires":[["17a6c7b4.773c08"]]},{"id":"8c2b4a6a.ef92b8","type":"inject","z":"e817b5f3.1781b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["b1d32573.5b50a8"]]},{"id":"f2e2f3d8.3e307","type":"inject","z":"e817b5f3.1781b8","name":"","topic":"","payload":"{\"brightness\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["17a6c7b4.773c08"]]},{"id":"7ceaef14.c0138","type":"ui_switch","z":"1234dd40.b3e343","name":"","label":"switch","tooltip":"","group":"98c91c24.adf84","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":660,"wires":[[]]},{"id":"4b703e3c.c19fc","type":"ui_slider","z":"1234dd40.b3e343","name":"","label":"slider","tooltip":"","group":"98c91c24.adf84","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":180,"y":720,"wires":[[]]},{"id":"920c1aef.958038","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["ab80d913.7c28c8"]]},{"id":"e1890b1d.ef9e18","type":"hue-light","z":"1234dd40.b3e343","name":"Sessel","bridge":"337b71e3.04ab26","lightid":"1","colornamer":true,"x":590,"y":540,"wires":[[]]},{"id":"599b52be.49050c","type":"hue-light","z":"1234dd40.b3e343","name":"Stehlampe","bridge":"337b71e3.04ab26","lightid":"2","colornamer":true,"x":610,"y":580,"wires":[[]]},{"id":"7d14efb3.6197f","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["e1890b1d.ef9e18"]]},{"id":"66aa8f51.3bbc9","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["599b52be.49050c"]]},{"id":"7c7965c0.5c505c","type":"hue-light","z":"1234dd40.b3e343","name":"Flur Tisch","bridge":"337b71e3.04ab26","lightid":"3","colornamer":true,"x":600,"y":620,"wires":[[]]},{"id":"4c8a3661.b5bcc8","type":"hue-light","z":"1234dd40.b3e343","name":"Ikea Lampe Gross","bridge":"337b71e3.04ab26","lightid":"30","colornamer":true,"x":630,"y":660,"wires":[[]]},{"id":"b2c61b75.9a81e8","type":"hue-light","z":"1234dd40.b3e343","name":"Stern","bridge":"337b71e3.04ab26","lightid":"29","colornamer":true,"x":590,"y":700,"wires":[[]]},{"id":"a3d3a1a.23d846","type":"hue-light","z":"1234dd40.b3e343","name":"Hue color lamp 1","bridge":"337b71e3.04ab26","lightid":"23","colornamer":true,"x":630,"y":740,"wires":[[]]},{"id":"54a36744.671278","type":"hue-light","z":"1234dd40.b3e343","name":"HiFi Rechts","bridge":"337b71e3.04ab26","lightid":"12","colornamer":true,"x":610,"y":780,"wires":[[]]},{"id":"2e8c0504.5be96a","type":"hue-light","z":"1234dd40.b3e343","name":"HiFi Links","bridge":"337b71e3.04ab26","lightid":"13","colornamer":true,"x":600,"y":820,"wires":[[]]},{"id":"da2baed.b46195","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["7c7965c0.5c505c"]]},{"id":"68242c2c.e18aa4","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["4c8a3661.b5bcc8"]]},{"id":"97ce999d.c23c98","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["b2c61b75.9a81e8"]]},{"id":"99a2880.fddda78","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["a3d3a1a.23d846"]]},{"id":"9e734800.b0f918","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["54a36744.671278"]]},{"id":"3b73db59.fa6c34","type":"function","z":"1234dd40.b3e343","name":"","func":"//var r = Math.floor( Math.random() * (50 - 30) % 30);\nvar r = Math.random() * 100;\nvar g = Math.random() * 100;\nvar b = Math.random() * 100;\nmsg.payload = {\n    \"on\":true,\n    \"brightness\": 100,\n    \"rgb\":[r,g,b]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":820,"wires":[["2e8c0504.5be96a"]]},{"id":"eddaf7a.406cd08","type":"datacake-out","z":"1234dd40.b3e343","name":"","datacakeConfiguration":"6224a0cc.4ff1b8","deviceId":"dae07fa6-c9b2-4991-b384-40dc3ccf6bf8","fieldName":"STATUS_OF_LUKAAAS","productSlug":"lukas-opfa-device","x":500,"y":160,"wires":[]},{"id":"912574bb.aceb6","type":"function","z":"1234dd40.b3e343","name":"","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["eddaf7a.406cd08"]]}]
